* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sedan-color: hsl(31, 77%, 52%);
    --suv-color:hsl(184, 100%, 22%);
    --luxury-color:hsl(179, 100%, 13%);
    --paragraph-color: hsla(0, 0%, 100%, 0.75);
    --heading-button-color: hsl(0, 0%, 95%);
    --font-size: 15px;
    --ff-title:'Big Shoulders Display';
    --ff-text:'Lexend Deca';    
}


.card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    padding: 1rem 2.5rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 300px;/* flex: flex-grow flex-shrink flex-basis */
}

.card__title {
    text-transform: uppercase;
    color: var(--heading-button-color);
    font-size: 2.5rem;
    font-family: var(--ff-title);
}

.card__text {
    width: 100%;
    color: var(--paragraph-color);
    font-size: var(--font-size);
    font-family: var(--ff-text);
    line-height: 1.5;
}

.card-sedan {
    background-color: var(--sedan-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-suv {
    background-color: var(--suv-color);
}
.card-luxury {
    background-color: var(--luxury-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



.btn {
    border-radius: 2rem;
    padding: 0.8rem 0;
    width: 100%;
    max-width: 120px;
    border: none;
    text-transform: capitalize;
    font-weight: 500;
}

.btn-sedan {
    color: var(--sedan-color);
}
.btn-sedan:hover {
    background-color: var(--sedan-color);
    color: var(--heading-button-color);
    border: 1px solid white;
}

.btn-suv {
    color: var(--suv-color);
}

.btn-suv:hover {
    background-color: var(--suv-color);
    color: var(--heading-button-color);
    border: 1px solid white;
}

.btn-luxury {
    color: var(--luxury-color);
}

.btn-luxury:hover {
    background-color: var(--luxury-color);
    color: var(--heading-button-color);
    border: 1px solid white;
}

.attribution {
    text-align: center;
}

@media (max-width: 600px){
    .card-sedan {
        background-color: var(--sedan-color);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        
    }
    .card-luxury {
        background-color: var(--luxury-color);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
}
}